Name: Kadesha Ambris
Student ID: 816006483

PART A

In [106]:
import pyspark
from pyspark.sql import Row
from operator import multiply, add

Create a PySpark Context

In [107]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

Convert the following sentence to a python tuple list of letters and their frequency as their
appear. Ignore all non-alpha numeric characters.

In [108]:
sentence = "The quick brown fox jumps over the lazy dog and the fox was very happy"
type(sentence)

str

In [109]:
new_list = ""
for i in sentence:
    if(i != " "):
        if(i.isupper()==True):
            new_list += (i.lower())
        if(i.islower()==True):
            new_list += i
new_list

'thequickbrownfoxjumpsoverthelazydogandthefoxwasveryhappy'

In [110]:
new_list1 = list(new_list)

In [111]:
list2 = []
for i in new_list1:
    list2.append(1)

In [112]:
tuple_list = list(zip(new_list1, list2))
tuple_list

[('t', 1),
 ('h', 1),
 ('e', 1),
 ('q', 1),
 ('u', 1),
 ('i', 1),
 ('c', 1),
 ('k', 1),
 ('b', 1),
 ('r', 1),
 ('o', 1),
 ('w', 1),
 ('n', 1),
 ('f', 1),
 ('o', 1),
 ('x', 1),
 ('j', 1),
 ('u', 1),
 ('m', 1),
 ('p', 1),
 ('s', 1),
 ('o', 1),
 ('v', 1),
 ('e', 1),
 ('r', 1),
 ('t', 1),
 ('h', 1),
 ('e', 1),
 ('l', 1),
 ('a', 1),
 ('z', 1),
 ('y', 1),
 ('d', 1),
 ('o', 1),
 ('g', 1),
 ('a', 1),
 ('n', 1),
 ('d', 1),
 ('t', 1),
 ('h', 1),
 ('e', 1),
 ('f', 1),
 ('o', 1),
 ('x', 1),
 ('w', 1),
 ('a', 1),
 ('s', 1),
 ('v', 1),
 ('e', 1),
 ('r', 1),
 ('y', 1),
 ('h', 1),
 ('a', 1),
 ('p', 1),
 ('p', 1),
 ('y', 1)]

Convert the list of tuples to a PySpark RDD.

In [113]:
rdd = sc.parallelize(tuple_list)

Using the methods of PySpark RDD display the letter count.

In [116]:
rdd2 = rdd.reduceByKey(lambda x, y: x+y).collect()
rdd2

[('t', 3),
 ('h', 4),
 ('e', 5),
 ('q', 1),
 ('u', 2),
 ('i', 1),
 ('c', 1),
 ('k', 1),
 ('b', 1),
 ('r', 3),
 ('o', 5),
 ('w', 2),
 ('n', 2),
 ('f', 2),
 ('x', 2),
 ('j', 1),
 ('m', 1),
 ('p', 3),
 ('s', 2),
 ('v', 2),
 ('l', 1),
 ('a', 4),
 ('z', 1),
 ('y', 3),
 ('d', 2),
 ('g', 1)]

Using the methods of PySpark RDD display the letter and number of times they appear in each
word in the sentence.

In [117]:
result = rdd.groupBy(lambda x: x[0]).collect()
sorted([(x, sorted(y)) for (x, y) in result])

[('a', [('a', 1), ('a', 1), ('a', 1), ('a', 1)]),
 ('b', [('b', 1)]),
 ('c', [('c', 1)]),
 ('d', [('d', 1), ('d', 1)]),
 ('e', [('e', 1), ('e', 1), ('e', 1), ('e', 1), ('e', 1)]),
 ('f', [('f', 1), ('f', 1)]),
 ('g', [('g', 1)]),
 ('h', [('h', 1), ('h', 1), ('h', 1), ('h', 1)]),
 ('i', [('i', 1)]),
 ('j', [('j', 1)]),
 ('k', [('k', 1)]),
 ('l', [('l', 1)]),
 ('m', [('m', 1)]),
 ('n', [('n', 1), ('n', 1)]),
 ('o', [('o', 1), ('o', 1), ('o', 1), ('o', 1), ('o', 1)]),
 ('p', [('p', 1), ('p', 1), ('p', 1)]),
 ('q', [('q', 1)]),
 ('r', [('r', 1), ('r', 1), ('r', 1)]),
 ('s', [('s', 1), ('s', 1)]),
 ('t', [('t', 1), ('t', 1), ('t', 1)]),
 ('u', [('u', 1), ('u', 1)]),
 ('v', [('v', 1), ('v', 1)]),
 ('w', [('w', 1), ('w', 1)]),
 ('x', [('x', 1), ('x', 1)]),
 ('y', [('y', 1), ('y', 1), ('y', 1)]),
 ('z', [('z', 1)])]

-------------------------------------------------------------------------------------------------------------------------------

PART B

Create a sql context from PySpark SQLContext.

In [118]:
sqlContext = SQLContext(sc)

Load the Amazon Review Dataset into a PySpark RDD, ensure that each row is properly
separated and the headers are matched to their respective columns.

In [119]:
dataset = sc.textFile("amazon_reviews.csv")
rdd2 = dataset.map(lambda line: line.split(","))
rdd2.take(10)

[['', 'id', 'name', 'username'],
 ['0', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Cristina M'],
 ['1', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Ricky'],
 ['2', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Tedd Gardiner'],
 ['3', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Dougal'],
 ['4', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Miljan David Tanic'],
 ['5', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Kelvin Law'],
 ['6', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Ricky'],
 ['7', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Bandler'],
 ['8', 'AVpe7AsMilAPnD_xQ78G', 'Kindle Paperwhite', 'Cristina M']]

In [121]:
type(rdd2)

pyspark.rdd.PipelinedRDD

Convert the rdd to a PySpark DataFrame.

In [120]:
df = sqlContext.createDataFrame(rdd2)
type(df)

pyspark.sql.dataframe.DataFrame

Using the dataframe from the above question show the top 20 bought products.

In [89]:
df.show(20)

+---+--------------------+-----------------+--------------------+
| _1|                  _2|               _3|                  _4|
+---+--------------------+-----------------+--------------------+
|   |                  id|             name|            username|
|  0|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|          Cristina M|
|  1|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|               Ricky|
|  2|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|       Tedd Gardiner|
|  3|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|              Dougal|
|  4|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|  Miljan David Tanic|
|  5|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|          Kelvin Law|
|  6|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|               Ricky|
|  7|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|             Bandler|
|  8|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|          Cristina M|
|  9|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|       Tedd Gardiner|
| 10|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|     Miguel Martinez|
| 11|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|   Magnus Brattemark|
| 12|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|       Tedd Gardiner|
| 13|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|  Janet Matthews Jan|
| 14|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|John Kat's the br...|
| 15|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|              samira|
| 16|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|        Louis simard|
| 17|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|              JanetC|
| 18|AVpe7AsMilAPnD_xQ78G|Kindle Paperwhite|            Shepherd|
+---+--------------------+-----------------+--------------------+
only showing top 20 rows

In [90]:
df.select('_3').show(21)

+-----------------+
|               _3|
+-----------------+
|             name|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
|Kindle Paperwhite|
+-----------------+
only showing top 21 rows

Using the datafrme from the previous question show the top 20 users and the products that
they purchased.

In [91]:
df.select('_3','_4').show(21)

+-----------------+--------------------+
|               _3|                  _4|
+-----------------+--------------------+
|             name|            username|
|Kindle Paperwhite|          Cristina M|
|Kindle Paperwhite|               Ricky|
|Kindle Paperwhite|       Tedd Gardiner|
|Kindle Paperwhite|              Dougal|
|Kindle Paperwhite|  Miljan David Tanic|
|Kindle Paperwhite|          Kelvin Law|
|Kindle Paperwhite|               Ricky|
|Kindle Paperwhite|             Bandler|
|Kindle Paperwhite|          Cristina M|
|Kindle Paperwhite|       Tedd Gardiner|
|Kindle Paperwhite|     Miguel Martinez|
|Kindle Paperwhite|   Magnus Brattemark|
|Kindle Paperwhite|       Tedd Gardiner|
|Kindle Paperwhite|  Janet Matthews Jan|
|Kindle Paperwhite|John Kat's the br...|
|Kindle Paperwhite|              samira|
|Kindle Paperwhite|        Louis simard|
|Kindle Paperwhite|              JanetC|
|Kindle Paperwhite|            Shepherd|
|Kindle Paperwhite|              Brenda|
+-----------------+--------------------+
only showing top 21 rows

In [92]:
df.columns

['_1', '_2', '_3', '_4']

 Create a RDD of tuples from the dataframe with only 2 columns ‘product’ and ‘username’ in
that order.

In [102]:
input_data = df.rdd.map(lambda x: ROW(product = x[2], username = x[3]))
type(input_data)

pyspark.rdd.RDD

Using methods from PySpark’s RDD object e.g. groupByKey, map, reduceByKey derive the top
20 products

In [ ]:
input_data.map(lambda x : {x[1]: list(x[0])}).collect()

Create another RDD of tuples from the dataframe with the columns ‘username’ and ‘product’
in that order

In [123]:
input_data2 = df.rdd.map(lambda x: ROW(username = x[3], product = x[2]))

Using methods form PySparks’s RDD object product the top 10 customers who purchased the
most items. The top 10 list must show the username and a list of all the items they bought
with the number of that item they bought.

In [ ]:
result = input_data2.groupBy(lambda x: x[0]).collect()
rdd3 = sorted([(x, sorted(y)) for (x, y) in result])

In [ ]:
rdd = rdd3.foldByKey(1, multiply).collect()
rdd.take(10)